@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.logo {
    width: 114px;
    height: 40px;
    flex-shrink: 0;
}

header {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 100px;
}

nav {
    display: flex;
}

nav a {
    position: relative;
    margin-left: 36px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 1px solid #BDBDBD;
}

nav a:active,
nav a:focus {
    border-bottom: 1px solid #000;
}

main {
    padding: 60px 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.left-column {
    flex: 1;
    padding-right: 20px;
}

.right-column {
    flex: 1;
    padding-left: 20px;
}

.title {
    color: #000;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.description {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 158%;
    margin-bottom: 46px;
}

.buttonrow{
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 34px;
}

.button {
    margin-right: auto;
    display: inline-flex;
    padding: 14px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 19px;
    background: #F2F0DF;

    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 158%; /* 28.44px */
}

.link {
    display: inline-flex;
    align-items: center;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 158%; /* 25.28px */
    text-decoration-line: underline;
    padding-right: 24px;
}

.highlight {
    display: flex;
    position: relative;
    flex-shrink: 0;
    border-radius: 19px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 15px 9px 30px 0px rgba(160, 160, 160, 0.25);
    padding: 30px;
}

.number {
    color: #000;
    font-family: Poppins;
    font-size: 33px;
    font-style: normal;
    font-weight: 275;
    line-height: 158%; /* 52.14px */
    margin-right: 53px;
}

.desc {
    width: 312px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 158%; /* 22.12px */
}

.photos {
    display: flex;
    justify-content: space-around;
}

.photo {
    position: relative;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.photo-group {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.photoalone {
    flex-wrap: wrap;
    margin-right: 20px;
}

.photo1 {
    width: 220px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 19px;
    /* background: url(<./assets/shoes.jpg>), lightgray 0px -65px / 100% 151.793% no-repeat, #D9D9D9; */
    background: url('./assets/shoes.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.1s all linear;
}

.photo2 {
    width: 220px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 19px;
    /* background: url(<./assets/clothes.jpg>), lightgray 0px -65px / 100% 151.793% no-repeat, #D9D9D9; */
    background: url('./assets/clothes.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.1s;
}

.photo3 {
    width: 220px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 19px;
    /* background: url(<./assets/denim.jpg>), lightgray 0px -65px / 100% 151.793% no-repeat, #D9D9D9; */
    background-image: url('./assets/denim.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.1s;
}

.photo1:hover {
    background: url('./assets/shoes.jpg');
    background-size: cover;
    background-position: center;
    background-size: 500%;
} 

.photo2:hover,
.photo3:hover{
    background-size: 170%;
    transition: 0.1s;
}

.label {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 182px;
    margin-bottom: 15px;
}

.labelname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}

.series {
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 158%; /* 25.28px */
}

.product-name {
    color: #505050;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%; /* 22.12px */
}

.pricetag {
    display: flex;
    align-items: center;
}

.divider {
    border-right: 1px solid #000;
    height: 30px;
    margin-right: 24px;
}

.price {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%; /* 26.86px */
}